In [4]:
import pandas as pd
kilid = pd.read_csv("../Data_collecting/crawlers/kilid/kilid.csv")
kilid

,address,age,bedroom,date,facilities,floor,func,latitude,longitude,meterage,parking,price,price_per_meter,properties,title,type
0,تهران ، منطقه 2 ، دریان نو,"2, 0",2,NaN,NaN,NaN,آپارتمان/برج,35.710881,51.362736,"9, 6",1,7.2 میلیارد,NaN,مسکونی,فروش آپارتمان/برج 2 خوابه در دریان نو - منطقه 2,مسکونی
1,تهران ، منطقه 10 ، جیحون,", س, ا, ل, ه",2,NaN,NaN,NaN,آپارتمان/برج,35.698501,51.363015,"6, 1",", پ, ا, ر, ک, ی, ن, گ",3.5 میلیارد,NaN,مسکونی,61متری/2 خوابه/ جیحون,مسکونی
2,تهران ، منطقه 10 ، رودکی جنوبی,", س, ا, ل, ه",2,NaN,NaN,NaN,آپارتمان/برج,35.693838,51.375668,"5, 2",", پ, ا, ر, ک, ی, ن, گ",2.8 میلیارد,NaN,مسکونی,52متر /دو خواب /رودکی,مسکونی
3,تهران ، منطقه 7 ، سهروردی شمالی,"2, 5",2,NaN,NaN,NaN,آپارتمان/برج,35.736601,51.442116,"1, 0, 0",1,8 میلیارد,NaN,مسکونی,100 متر سهروردی شمالی,مسکونی
4,تهران ، منطقه 7 ، سهروردی شمالی,"1, 7",1,NaN,NaN,NaN,آپارتمان/برج,35.736601,51.442116,"5, 5",1,5.6 میلیارد,NaN,مسکونی,55 متر سهروردی شمالی,مسکونی
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9705,تهران ، منطقه 5 ، بلوار فردوس شرقی,6,2,NaN,NaN,NaN,آپارتمان/برج,35.723132,51.320624,"6, 0",1,6.5 میلیارد,NaN,مسکونی,فروش آپارتمان/ 2 خوابه در بلوار فردوس شرقی - م...,مسکونی
9706,تهران ، منطقه 1 ، فرمانیه,", س, ا, ل, ه",3,NaN,NaN,NaN,آپارتمان/برج,35.799729,51.463599,"2, 0, 4",2,49 میلیارد,240 میلیون,مسکونی,فروش آپارتمان فرمانیه 204 متر 3 خواب 2 جهت نور...,مسکونی
9707,تهران ، منطقه 1 ، قیطریه,1,3,NaN,NaN,NaN,آپارتمان/برج,35.788098,51.442190,"2, 0, 2",2,40 میلیارد,198 میلیون,مسکونی,فروش آپارتمان قیطریه 202 متر 3 خواب تراس قابل ...,مسکونی
9708,تهران ، منطقه 5 ، پونک جنوبی,", س, ا, ل, ه",2,NaN,NaN,NaN,آپارتمان/برج,35.760080,51.325158,"1, 0, 3",1,13.9 میلیارد,135 میلیون,مسکونی,فروش آپارتمان/برج 2 خوابه در پونک جنوبی /تاپ ل...,مسکونی
9709,تهران ، منطقه 14 ، پاسدار گمنام,", س, ا, ل, ه",2,NaN,NaN,NaN,آپارتمان/برج,35.674220,51.471826,"1, 0, 5",1,12.6 میلیارد,120 میلیون,مسکونی,آپارتمان 105متری در میدان هروی,مسکونی

In [12]:
def clean_and_convert(value):
    return pd.to_numeric(str(value).replace('[^0-9]', ''), errors='coerce')
cols_to_numeric = ['meterage', 'age', 'parking', 'price']

kilid[cols_to_numeric] = kilid[cols_to_numeric].apply(clean_and_convert)
kilid

,age,bedroom,city,date,func,latitude,location,longitude,meterage,parking,price,price_per_meter,properties,region,region_city_loc,title,type
0,NaN,"3, خوابه",NaN,6 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,NaN,مسکونی,NaN,تهران ، منطقه 2 ، دریان نو,فروش آپارتمان/ 3 خوابه در دریان نو - منطقه 2,مسکونی
1,NaN,"2, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,158 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، نیاوران,فروش آپارتمان/برج 2 خوابه در نیاوران - منطقه 1,مسکونی
2,NaN,"2, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,200 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، نیاوران,فروش آپارتمان/برج 2 خوابه در نیاوران - منطقه 1,مسکونی
3,NaN,"3, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,NaN,مسکونی,NaN,تهران ، منطقه 1 ، دربند,فروش آپارتمان/برج 3 خوابه در دربند - منطقه 1,مسکونی
4,NaN,"3, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,NaN,مسکونی,NaN,تهران ، منطقه 1 ، بوکان,فروش آپارتمان/برج 3 خوابه در بوکان - منطقه 1,مسکونی
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,250 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، حکمت,فرمانیه 195متر ویو ابدی شهر 10متر تراس رایگان,مسکونی
9811,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,180 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، فرمانیه,آپارتمان فرمانیه 235 متری 3 خوابه تراس میزخور,مسکونی
9812,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,215 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، قیطریه,قیطریه 210متر ویو مشجر آفتابگیر تراس کاربردی,مسکونی
9813,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,170 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، فرمانیه,فرمانیه 210متر فول مشاعات 15متر تراس کاربردی,مسکونی
9814,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,205 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، قیطریه,قیطریه 160متر ویو کوهستان 7متر بالکن,مسکونی

In [14]:
kilid["type"].nunique()

1