In [13]:
import pandas as pd
kilid = pd.read_csv("../Data_collecting/kilid/kilid.csv")
kilid

,age,bedroom,city,date,func,latitude,location,longitude,meterage,parking,price,price_per_meter,properties,region,region_city_loc,title,type
0,ساله,"3, خوابه",NaN,6 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,"115, متر","1, پارکینگ",13 میلیارد,NaN,مسکونی,NaN,تهران ، منطقه 2 ، دریان نو,فروش آپارتمان/ 3 خوابه در دریان نو - منطقه 2,مسکونی
1,"20, ساله","2, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,"126, متر","1, پارکینگ",20 میلیارد,158 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، نیاوران,فروش آپارتمان/برج 2 خوابه در نیاوران - منطقه 1,مسکونی
2,"8, ساله","2, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,"131, متر","1, پارکینگ",27 میلیارد,200 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، نیاوران,فروش آپارتمان/برج 2 خوابه در نیاوران - منطقه 1,مسکونی
3,ساله,"3, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,"180, متر","2, پارکینگ",0,NaN,مسکونی,NaN,تهران ، منطقه 1 ، دربند,فروش آپارتمان/برج 3 خوابه در دربند - منطقه 1,مسکونی
4,"15, ساله","3, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,"220, متر","2, پارکینگ",42 میلیارد,NaN,مسکونی,NaN,تهران ، منطقه 1 ، بوکان,فروش آپارتمان/برج 3 خوابه در بوکان - منطقه 1,مسکونی
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,"3, ساله","3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,"198, متر","3, پارکینگ",49.5 میلیارد,250 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، حکمت,فرمانیه 195متر ویو ابدی شهر 10متر تراس رایگان,مسکونی
9811,"2, ساله","3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,"235, متر","3, پارکینگ",42.3 میلیارد,180 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، فرمانیه,آپارتمان فرمانیه 235 متری 3 خوابه تراس میزخور,مسکونی
9812,"12, ساله","3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,"210, متر","2, پارکینگ",45.1 میلیارد,215 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، قیطریه,قیطریه 210متر ویو مشجر آفتابگیر تراس کاربردی,مسکونی
9813,"3, ساله","3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,"210, متر","2, پارکینگ",37.4 میلیارد,170 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، فرمانیه,فرمانیه 210متر فول مشاعات 15متر تراس کاربردی,مسکونی
9814,ساله,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,"160, متر","2, پارکینگ",32.8 میلیارد,205 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، قیطریه,قیطریه 160متر ویو کوهستان 7متر بالکن,مسکونی

In [12]:
def clean_and_convert(value):
    return pd.to_numeric(str(value).replace('[^0-9]', ''), errors='coerce')
cols_to_numeric = ['meterage', 'age', 'parking', 'price']

kilid[cols_to_numeric] = kilid[cols_to_numeric].apply(clean_and_convert)
kilid

,age,bedroom,city,date,func,latitude,location,longitude,meterage,parking,price,price_per_meter,properties,region,region_city_loc,title,type
0,NaN,"3, خوابه",NaN,6 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,NaN,مسکونی,NaN,تهران ، منطقه 2 ، دریان نو,فروش آپارتمان/ 3 خوابه در دریان نو - منطقه 2,مسکونی
1,NaN,"2, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,158 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، نیاوران,فروش آپارتمان/برج 2 خوابه در نیاوران - منطقه 1,مسکونی
2,NaN,"2, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,200 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، نیاوران,فروش آپارتمان/برج 2 خوابه در نیاوران - منطقه 1,مسکونی
3,NaN,"3, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,NaN,مسکونی,NaN,تهران ، منطقه 1 ، دربند,فروش آپارتمان/برج 3 خوابه در دربند - منطقه 1,مسکونی
4,NaN,"3, خوابه",NaN,39 دقیقه پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,NaN,مسکونی,NaN,تهران ، منطقه 1 ، بوکان,فروش آپارتمان/برج 3 خوابه در بوکان - منطقه 1,مسکونی
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9810,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,250 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، حکمت,فرمانیه 195متر ویو ابدی شهر 10متر تراس رایگان,مسکونی
9811,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,180 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، فرمانیه,آپارتمان فرمانیه 235 متری 3 خوابه تراس میزخور,مسکونی
9812,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,215 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، قیطریه,قیطریه 210متر ویو مشجر آفتابگیر تراس کاربردی,مسکونی
9813,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,170 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، فرمانیه,فرمانیه 210متر فول مشاعات 15متر تراس کاربردی,مسکونی
9814,NaN,"3, خوابه",NaN,13 روز پیش,آپارتمان/برج,35.731939,NaN,51.412761,NaN,NaN,NaN,205 میلیون,مسکونی,NaN,تهران ، منطقه 1 ، قیطریه,قیطریه 160متر ویو کوهستان 7متر بالکن,مسکونی